<main class="page__main">
    <section>
        <form class="js-form form-container">
            <input type="text" class="js-input inputFind" placeholder="Example: Women">
            <button class="js-btn-find btn-find">Find</button>
        </form>
    </section>
    <section class="main__sections">
        <article class="section__cart">
        <p>Shopping Cart 🛒</p>
        <ul class="js-shopping-cart shopping-cart"></ul>
        </article>
        <article class="section__products">
        <p>Most popular products 🛍️</p>
        <ul class="js-products-list products-list"></ul>
        </article>
    </section>
</main>
